.mainBlock
  overflow-x hidden 
  overflow-y auto
 
.buttonContainer
  padding 0 20px

.showButton
  display: inline-flex;
  cursor: pointer;
  color: #5581f2;
  width: 195px;
  border: 1px solid #5581f2;
  font-size: 12px;
  line-height: 40px;
  align-items: center;
  justify-content: center;

.title
  display inline
  font-size 21px
  color #e79235

.exitButton 
  display inline
  font-size 21px
  color #e79235
  float right 

.headBlock
  padding-right 30px
  margin 30px 30px 15px 30px
  width 97%
  position relative

.preContainer 
  position relative
  z-index 2
  background white
  width 100%

.container 
  margin 20px 20px 20px 20px 

.link
  text-decoration none
  color black


.close
  position relative
  float right
  cursor pointer

.dashboard
  position absolute
  z-index 2
  background white
  width 100%