.mainBlock
 overflow-x hidden 
 overflow-y auto
 
.title
 display inline
 font-size 21px
 color #e79235

.exitButton 
 disply inline
 font-size 21px
 color #e79235
 float right 

.headBlock
 padding-right 30px
 margin 30px 30px 15px 30px
 width 97%
 position relative
 
.preContainer 
 position relative
 width 50%

.container 
 margin 20px 20px 20px 20px 

.left
 float left
 /* margin 30px 0 0 20px */

.right
 float right
 /* margin 30px 20px 0 0 */ 

.link
 text-decoration none
 color black


.close
  position relative
  float right
  cursor pointer

.dashboard
  position absolute
  z-index 2
  top 60px
  background white
  width 100%
  height 100%